
/* header content */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
}

button {
    padding: 5px 12px;
    background-color: rgba(96, 50, 168, 1);
    color: white;
    border-radius: 7px;
}

.highscore-button:hover {
    cursor: pointer;
    background-color: rgba(96, 50, 168, 0.5);
}

.timer {
    margin-right: 40px;
    font-size: 20px;
}

/* body styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-intro {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

.intro-p {
    margin-bottom: 10px;
}

.start-quiz:hover {
    background-color: rgba(96, 50, 168, 0.5);
    cursor: pointer;
}

.quiz-content {
    width: 60%;
    display: none;
}

.question {
    font-size: 32px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

span {
    color: white;
    background-color: rgba(96, 50, 168, 1);
    padding: 5px 12px;
    border-radius: 7px;
}

span:hover{
    background-color: rgba(96, 50, 168, 0.5);
    cursor: pointer;
}

.right-wrong {
    display: none;
}
